// ボタンのミックスイン
@mixin button-base {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  text-decoration: none;
  transition: color 0.2s;
  border-radius: $border-radius-button;
}

@mixin button-primary {
  @include button-base;
  color: $white;
  background: $gradient-primary;
  box-shadow: 
    inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px 0 rgba(0, 0, 0, 0.24);
  
  &:hover {
    color: $gray-light;
    box-shadow: none;
  }
}

@mixin button-secondary {
  @include button-base;
  color: $text-color;
  
  &:hover {
    color: $gray-hover;
  }
}

// フレックスボックスのミックスイン
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// ボックスのミックスイン
@mixin box-style {
  padding: $spacing-medium;
  background: rgba($white, 1);
  border-radius: $border-radius-large;
  border: 1px solid $white;
}

// テキストグラデーションのミックスイン
@mixin text-gradient($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

// レスポンシブのミックスイン
@mixin mobile {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile-height {
  @media screen and (max-height: $breakpoint-mobile) {
    @content;
  }
} 