---
import Layout from '../layouts/Layout.astro'
import Inner from '../layouts/Inner.astro'
import SplitText from '../components/SplitText.astro'
import SplitTextLines from '../components/SplitTextLines.astro'
import styles from '../styles/_pages/index.module.scss'
import type { MetaInfo } from '@/types/meta'

const meta: MetaInfo = {
    title: 'INDEX',
    description:
        'Hello World',
    keywords: [],
    type: 'website',
    author: 'NS',
}
---

<Layout {meta} pageId="home">
    <div class={styles.homeVisual}>
        
        <Inner>
            <div class={styles.homeCotent}>
                <SplitTextLines
                    text="My name is NS.<br>I'm a front engineer and project<br>director at Shed inc.<br>Nice to meet you."
                    tag="p"
                    class="text-text-l-b mb-[48px] relative z-10"
                    duration={0.8}
                    stagger={0.1}
                    delay={.3}
                    delay={.8}
                    ease="power2.out"
                />
                <p class="text-text-l-b relative z-10">
                    <a href="/work">
                        <SplitTextLines
                        text="â— Want to know more?"
                        tag="span"
                        class=""
                        duration={0.8}
                        stagger={0.1}
                        delay={1.4}
                        ease="power2.out"
                        />
                    </a>
                </p>
            </div>
        </Inner>
    
        <SplitText 
            text="Hello World" 
            tag="span" 
            class={`${styles.homeTtl} relative z-10`}
            duration={0.6}
            stagger={0.05}
            ease="power3.out"
        />
    </div>
</Layout>

<style>
    .home-particle-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        pointer-events: none;
    }
    
    .home-particle-bg :global(canvas) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
    }
</style>
