---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["l-column", className]}>
    <slot />
</div>

<style lang="scss">
    .l-column {
        display: grid;
        grid-template-columns: repeat(9, 1fr); // 9列グリッド
        align-items: stretch;
        grid-auto-flow: row;
        gap: 24px;
        width: 100%;

        :global(*) {
            // data-col-span属性の値に応じてgrid-columnを設定
            &[data-col-span="1"] { grid-column: span 1; }
            &[data-col-span="2"] { grid-column: span 2; }
            &[data-col-span="3"] { grid-column: span 3; }
            &[data-col-span="4"] { grid-column: span 4; }
            &[data-col-span="5"] { grid-column: span 5; }
            &[data-col-span="6"] { grid-column: span 6; }
            &[data-col-span="7"] { grid-column: span 7; }
            &[data-col-span="8"] { grid-column: span 8; }
            &[data-col-span="9"] { grid-column: span 9; }
        }
    }
</style>
