---
const currentPath = Astro.url.pathname;
import Inner from '../layouts/Inner.astro'
import Column from '../layouts/Column.astro'
import Line from './Line.astro'
import Text from './Text.astro'
---


<header id="header" class="c-header">
    <Inner>
        <div class="c-header__inner">
            <Column>
                <p data-col-span="3" >
                    <a href="/">
                        <Text text={currentPath === '/' ? '■ INDEX' : 'INDEX'} tag="span" delay={0.3}/>
                    </a>
                </p>
    
                <p data-col-span="3" >
                    <a href="/work">
                        <Text text={currentPath === '/work' ? '■ WORK' : 'WORK'} tag="span" delay={0.3}/>
                    </a>
                </p>
                    
                <div data-col-span="3" class="flex justify-between gap-[8px]">
                    <p>
                        <a href="/exploration">
                            <Text text={currentPath === '/exploration' ? '■ EXPLORATION' : 'EXPLORATION'} tag="span" delay={0.3}/>
                        </a>
                    </p>
                    <p>
                        <Text text="© 2025 NS" tag="span" delay={0.3}/>
                    </p>
                </div>
            </Column>
        </div>

        <Line type="horizontal" />
    </Inner>
</header>



<style lang="scss">
    @use '../styles/_setting/_variables' as *;
    
    .c-header {
        position: fixed;
        top: 16px;
        left: 0;
        z-index: 100;
        width: 100%;
        color: $color-white;
        mix-blend-mode: exclusion;
        
        &__inner {
            padding-bottom: 4px;
        }
    }
</style>