// ホームページ専用のスタイル
@use '../_setting/_variables' as *;
@use '../_setting/_mixins' as *;

:global(.c-footer) {
    background: $color-black !important;
    color: $color-white !important;
    :global(.line) {
        background: $color-white !important;
    }
}
:global(.home-particle-bg) {
    background: $color-white !important;
}

.explorationVisual {
    position: relative;
    z-index: 10;
    // min-height: 420px;
    padding-top: 40px;
    color: $color-white;
    

    :global(.l-inner) {
        // height: 100%;
    }

    :global(.l-column) {
        min-height: 360px;
    }

    :global(.line) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: $color-white;
    }
}

.explorationVisualBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
    clip-path: inset(0% 0% 100% 0%);
}

.explorationVisualBlock {
    position: relative;
    z-index: 1;
    // width: 100%;
    margin: 10px auto 0;
    background: $color-black;
    // opacity: 0;
    clip-path: inset(0% 0% 100% 0%);
    &:nth-of-type(1) {
        width: calc(1353 / 1366 * 100vw);
    }
    &:nth-of-type(2) {
        width: calc(1339 / 1366 * 100vw);
    }
    &:nth-of-type(3) {
        width: calc(1327 / 1366 * 100vw);
    }
    &:nth-of-type(4) {
        width: calc(1312 / 1366 * 100vw);
    }
    &:nth-of-type(5) {
        width: calc(1299 / 1366 * 100vw);
    }
    &:nth-of-type(6) {
        width: calc(1286 / 1366 * 100vw);
    }
}

.explorationObj {
    width: calc(412 / 1366 * 100vw);
}



.explorationCol {
    margin-top: 36px;

    figure {
        aspect-ratio: 1732 / 965;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transform: scale(1.2);
        }
        & + figure {
           margin-top: 24px; 
        }
    }

    canvas {
        opacity: 0; // 初期状態では非表示
    }
}



.plantCanvas {
    display: block;
    max-width: 100%;
    
    background: $color-black;  // 参考コードと同じ背景色
}

.fiberCanvas {
    display: block;
    max-width: 100%;
    background: $color-black;  // 光ファイバー用の黒背景
}

.eyeCanvas {
    display: block;
    max-width: 100%;
    background: $color-black;  // パーティクルアイ用の黒背景
}

.watercolorCanvas {
    display: block;
    max-width: 100%;
    canvas {
        opacity: 1; // 初期状態では非表示
    }
}