// ホームページ専用のスタイル
@use '../_setting/_variables' as *;
@use '../_setting/_mixins' as *;

.page-work {}

.workVisual {
    position: relative;
    z-index: 10;
    // min-height: 420px;
    padding-top: 40px;
    color: $color-black;
    

    :global(.l-inner) {
        // height: 100%;
    }

    :global(.l-column) {
        min-height: 360px;
    }

    :global(.line) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: $color-black;
    }
}

.workVisualNumber {
    position: absolute !important;
    bottom: 20px;
    left: 0;
    line-height: 1.3;
}

.workVisualBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-white;
    clip-path: inset(0% 0% 100% 0%);
}

.workVisualBlock {
    position: relative;
    z-index: 1;
    // width: 100%;
    margin: 10px auto 0;
    background: $color-white;
    // opacity: 0;
    clip-path: inset(0% 0% 100% 0%);
    &:nth-of-type(1) {
        width: calc(1353 / 1366 * 100vw);
    }
    &:nth-of-type(2) {
        width: calc(1339 / 1366 * 100vw);
    }
    &:nth-of-type(3) {
        width: calc(1327 / 1366 * 100vw);
    }
    &:nth-of-type(4) {
        width: calc(1312 / 1366 * 100vw);
    }
    &:nth-of-type(5) {
        width: calc(1299 / 1366 * 100vw);
    }
    &:nth-of-type(6) {
        width: calc(1286 / 1366 * 100vw);
    }
}


.workCol {
    margin-top: 36px;

    figure {
        aspect-ratio: 1732 / 965;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
            filter: blur(15px);
            transform: scale(1.2, 1.2);
            will-change: transform, filter, clip-path;
        }
        & + figure {
           margin-top: 24px; 
        }
    }
}